/tmp
*/**/*un~
*/**/*.test
*un~
.DS_Store
*/**/.DS_Store
*/**/*tx_database*
*/**/*dapps*
build/_vendor/pkg

#*
.#*
*#
*~
.project
.settings

# used by the Makefile
build/_workspace/
build/bin/
aoa*.zip

# travis
profile.tmp
profile.cov

# IdeaIDE
.idea

# VS Code
.vscode
cmd/aoa/aoa